<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">New Post Tag</h1>
      
      <div class="card shadow p-4">
        <%= render "form", post_tag: @post_tag %>
      </div>

      <div class="text-center mt-4">
        <%= link_to "Back to post tags", post_tags_path, class: "btn btn-secondary btn-lg" %>
      </div>
    </div>
  </div>
</div>
