<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-6">
<% content_for :title, "New post" %>

<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
</div>
</div>